input {
  border: 0;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 40pt;
  caret-color: transparent;
}

input:focus {
  outline: none;
}

/** Swear on my life I'm only using this for a blinking cursor in a mock terminal */
blink,
.blink {
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {
  67% {
    opacity: 0;
  }
}
