@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

:root {
  --gray: #938c8a;
  --black: #453f3c;
  --green: #75bd8c;
  --red: #e98b86;
}

body {
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 40pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
