/* Style page content */
.word-guess-area {
  margin-top: 1em;
  margin-left: max(9ch, 33%); /* Same as the width of the sidebar */
  padding-left: 10px;
  color: var(--gray);
  font-weight: 700;
  font-weight: 700;
  font-size: var(--font-size);
}

.word-guess-area p {
  margin: auto;
  color: var(--black);
}

.word-guess-area .accepted {
  color: var(--green);
}

.word-guess-area .rejected {
  color: var(--gray);
}

.word-guess-area ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.mobile-keyboard {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 1rem;
  color: #000000;
}

.mobile-keyboard .hg-theme-default {
  font-family: "Fira Code";
  font-weight: 300;
}

.mobile-keyboard .hg-button-enter {
  letter-spacing: -1.3px;
}
